@model IEnumerable<SinusCsharp.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


@foreach (var item in Model) {
         

    <div class="card" style="width: 18rem;">
        <img src="https://cdn.pixabay.com/photo/2014/07/27/17/29/ironing-403074_960_720.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"> @item.Title</h5>
            <p class="card-text">@item.Color</p>
            <p class="card-text">@item.Price</p>
            <p class="card-text">@item.Description</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a> |
            <a asp-controller="Carts" asp-action="Buy" asp-route-id="@item.ProductId">Buy</a>
        </div>
    </div>
}




            
 
